*{
    margin: 0;
    padding: 0;
}
.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    height: 40px;
    font-size: 20px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    padding: 5px;
}
.header nav a:hover{
    background-color: grey;
}