*{
    margin: 0;
    padding: 0;
}
.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    height: 40px;
    font-size: 20px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin:0 2%;
    padding: 5px;
}
.header nav a:hover{
    background-color: grey;
}

@media screen and (max-width: 480px) {
    .header nav {height: 80px;}
  }

@media screen and (min-width: 481px) {
    .header nav {height: 60px;}
  }

@media screen and (min-width: 801px) {
    .header nav {height: 40px;}
  }